<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDCOrZpxTWBnymYlL6ueh85CfxEyRmnImA</string>
	<key>GCM_SENDER_ID</key>
	<string>756122937489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.LibraryManagementApp</string>
	<key>PROJECT_ID</key>
	<string>library-management-app-75485</string>
	<key>STORAGE_BUCKET</key>
	<string>library-management-app-75485.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:756122937489:ios:77371868b2da678ad0f730</string>
</dict>
</plist>